<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <meta name="viewport" content="width=device-width">
    <title>register.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/morpheus-default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=_ClGMmLoxDlZkVOPCw-UTsUQXQVxQeKHIkhOHBJRqaJmjuuWh9x-JM_Mf9K1WnQavYBqetw6HOwEqHkm-57b7mMUrcpbTkBT7Hmt3-eHAmKxec6sk7Dm_d2YDVvem3lDV8QHFsV7hCuYkWPObF7nl61cICyEfKNhkG6iKlOvpOc" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9zYWthaS5jcy5taXUuZWR1L2FjY2Vzcy9jb250ZW50L2dyb3VwLzFiODBkMjQ5LTVlNmUtNDhjOC1hZmY4LWM3NDZlN2NhYWFkZi9EYXRhL3JlZ2lzdGVyLmh0bWw"/><script type="text/javascript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<H1>Register</H1>
<DIV ng-if="vm.message" class="alert alert-success" role="alert">
    <P>{{ vm.message}}</P>
  </DIV>
  <DIV ng-if="vm.err" class="alert alert-danger" role="alert">
    {{vm.err}}
  </DIV>
  <FORM ng-hide="vm.message" name="register" ng-submit="vm.register()">
    <DIV class="form-group">
      <label for="username">Username</label>
      <input type="username" class="form-control" id="username" 
      placeholder="Username" ng-model="vm.username" autocapitalize="none"/>
    </DIV>
    <DIV class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" 
      placeholder="Password" ng-model="vm.password" autocapitalize="none"/>
    </DIV>
    <DIV class="form-group">
      <label for="password-repeat">Repeat Password</label>​
      <input type="password" class="form-control" id="password-repeat" 
      placeholder="Password" ng-model="vm.passwordRepeat" autocapitalize="none"/>
    </DIV>
    <DIV class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" 
        placeholder="Name" ng-model="vm.name" autocapitalize="none"/>
      </DIV>​
  <BUTTON type="submit" class="btn btn-success">Register</BUTTON>​
</FORM>
  </body>
</html>
